:root {
    --default-color: black;
}

body {

    background-color: var(--default-color, pink);/*aliceblue;*/
    font-family:monospace;
    text-align:center;
}

p {
    text-align: left;
}

h1{
    color:#fff;
}

img{
    width:200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#main-section {
    border: 2px solid #fff;
    margin: 10px;
    padding:10px;
    min-width:220px;
    background-color:#7171f5;
}

li {
    list-style-type:none;
}

a {
    text-decoration: none;
}

a:hover{
    color:white;
}